.modal-title {
  width: 90%;
  float: left;
  text-align: center;
}

td.number, th.number {
  text-align: right;
}


.tableFixHead          { 
  overflow-y: auto; 
  height: 100px; 
}
.tableFixHead thead th { white-space: nowrap; 
  position: sticky; 
  top: 0; 
  background-color: lightgray;
  cursor: pointer;
}
.tableFixHead tr { height: 37px; }
.tableFixHead td { white-space: nowrap; }

